<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Get all books</title>
</head>
<body>
<table>
    <th:block th:each = "book : ${books}">
        <tr>
            <td th:text="${book.id}">...</td>
            <td th:text="${book.title}">...</td>
            <td th:text="${book.author}">...</td>
            <td th:text="${book.publishingHouse}">...</td>
            <td th:text="${book.bookType}">...</td>
            <td th:text="${book.bookLanguage}">...</td>
            <td th:text="${book.nrPages}">...</td>
            <td th:text="${book.isbn}">...</td>
             <script> var id= '${book.id}'; </script>
            <td><a href="/books/review/{id}"> View comments </a></td>
            <td><a href="/books/newReview"> Add a comment </a></td>
        </tr>
    </th:block>
</table>
</body>
</html>