<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Delete Book</title>
</head>
<body>
<h1>Online library</h1>
<h2>Delete book</h2>
<form action="#" th:action="@{/books/delete/{id}(id=${book.id})}" method="post">
    <<p>ID: <input type="text" th:field="*{book.id}" /></p>
    <p>Title: <input type="text" th:field="*{book.title}" /></p>
    <p>Author: <input type="text" th:field="*{book.author}" /></p>
    <p>Publishing House: <input type="text" th:field="*{book.publishingHouse}" /></p>
    <p>Book Type: <input type="text" th:field="*{book.bookType}" /></p>
    <p>Book Language: <input type="text" th:field="*{book.bookLanguage}" /></p>
    <p>Number of pages: <input type="text" th:field="*{book.nrPages}" /></p>
    <p>ISBN: <input type="text" th:field="*{book.isbn}" /></p>
    <p><input type="submit" value="Delete" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>>