<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Welcome</title>
</head>
<body bgcolor="#E6E6FA">
<table>
    <tr>
        <td style='text-align:center;vertical-align:middle'>WELCOME TO THE ONLINE LIBRARY!</td>
    </tr>
    <tr>
        <td><a href="/books"> Books </a></td>
    </tr>
    <tr>
        <td><a href="/books/search"> Search for books </a></td>
    </tr>
    <tr>
        <td><a href="/registration"> Registration </a></td>
    </tr>
</table>
</body>
</html>