<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submitting a book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#ccff99">
<h1>ONLINE LIBRARY</h1>
<h2>Please introduce the id of the book (You can check the id of the book)</h2>
<form th:object="${book}" th:action="@{/deleteBook}" method="post">
    <p>Book id: <input type="text" th:field="*{id}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>