<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit a new comment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Online Library</h1>
<h2>SUBMIT A NEW COMMENT FORM</h2>
<form th:object="${review}" th:action="@{/books/newReview}" method="post">
    <p>Review id: <input type="text" th:field="*{id}" /></p>
    <p>Comment: <input type="text" th:field="*{comment}" /></p>
    <p>Book id: <input type="text" th:field="*{bookId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>