<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Online library</h1>
<h2>SUBMIT NEW BOOK FORM</h2>
<form th:object="${book}" th:action="@{/newBook}" method="post">
    <p>Book id: <input type="text" th:field="*{id}" /></p>
    <p>Book title: <input type="text" th:field="*{title}" /></p>
    <p>Book author: <input type="text" th:field="*{author}" /></p>
    <p>Publishing house: <input type="text" th:field="*{publishingHouse}" /></p>
    <p>Book Category: <input type="text" th:field="*{bookType}" /></p>
    <p>Book Language: <input type="text" th:field="*{bookLanguage}" /></p>
    <p>Number of pages: <input type="text" th:field="*{nrPages}" /></p>
    <p>Isbn: <input type="text" th:field="*{isbn}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>