<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Online library</h1>
<h2>SUBMIT NEW BOOK FORM</h2>
<form action="#" th:action="@{/books/submit}" method="post">
    <p>ID: <input type="text" th:field="*{book.id}" /></p>
    <p>Title: <input type="text" th:field="*{book.title}" /></p>
    <p>Author: <input type="text" th:field="*{book.author}" /></p>
    <p>Publishing House: <input type="text" th:field="*{book.publishingHouse}" /></p>
    <p>Book Type: <input type="text" th:field="*{book.bookType}" /></p>
    <p>Book Language: <input type="text" th:field="*{book.bookLanguage}" /></p>
    <p>Number of pages: <input type="text" th:field="*{book.nrPages}" /></p>
    <p>ISBN: <input type="text" th:field="*{book.isbn}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>